/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
/*    background: grey;*/
}

.main-container__left {
    width: 100%;
/*    margin-left: -270px;*/
}

.left_flip-left {
    margin-left: -270px;
    transition: all 0.5s;
}

.left-flip-right {
    transition: all 0.5s;
    display: block !important;
}


.main-container__right {
    box-sizing: border-box;
    display: none;
    width: 270px;
    background: #777777;
    height: 100vh;
    padding-top: 100px;
}

.main-container__right-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 270px;
    height: 50px;
    padding-left: 20px;
    font-size: 23px;
    color: #ffffff;
    text-decoration: none;
}

.main-container__right-item:hover {
    color: #cccccc;
    background: #222222;
}

.main-container__right-item_active {
    background: #ea8b3f;
}



.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    background: #222222;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo-title {
    text-decoration: none;
}

.header__logo-title-text {
    width: 357px;
    font-size: 25px;
    color: #ea8b3f;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header__navbar {
    display: flex;
    width: 475px;
    justify-content: flex-end;
}

.header__navbar-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0 1px;
    padding:10px 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #ea8b3f;
}

.header__navbar-item:first-child {
    display: none;
}

.header__navbar-item_active {
    padding-bottom: 0px;
    border-bottom: 10px solid #ea8b3f;
}

.header__navbar-item:hover {
    color: #ffffff;
    padding-bottom: 0px;
    border-bottom: 10px solid #ea8b3f;
}

.fa-bars {
    color: #ea8b3f;
    font-size: 30px;
}

.mainpage {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
/*    background: grey;*/
    padding-top: 100px;
}

.mainpage__slide {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 350px;
    background-position: 50%;
    background-size: cover;
/*    background: grey url('../img/mainpage/main-video-fon1.png');*/
    z-index: 10;
}

.mainpage__slide_lock {
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: transparent;
}

.contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #222222;
    padding: 0 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin-top: 40px;
}

.contacts__name {
    font-size: 25px;
    color: white;
    font-weight: 100;
}

.contacts__text {
    font-size: 20px;
    color: #777777;
    text-align: center;
}

.contacts__name_orange {
    color: #ea8b3f;
}

.contacts__name_pink {
    color: #ea5e8c;
}

.contacts__name_blue {
    color: #25c5cb;
}

.contacts__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.contacts__button_orange {
    color: #ea8b3f;
    border-color: #ea8b3f;
}

.contacts__button_pink {
    color: #ea5e8c;
    border-color: #ea5e8c;
}

.contacts__button_blue {
    color: #25c5cb;
    border-color: #25c5cb;
}

.contacts__button_orange:hover {
    width: 120px;
    color: white;
    background: #ea8b3f;
    transition: all 0.5s;
}

.contacts__button_pink:hover {
    width: 120px;
    color: white;
    background: #ea5e8c;
    transition: all 0.5s;
}

.contacts__button_blue:hover {
    width: 120px;
    color: white;
    background: #25c5cb;
    transition: all 0.5s;
}


.price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #777777;
    background: #222222;
}

.price__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
}

.price__item {
    box-sizing: border-box;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
/*    border: 1px solid #777777;*/
    padding-top: 10px;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.price__item-image {
    display: block;
    border-radius: 20px;
}

.price__item-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.price__item-text {
    font-size: 16px;
    text-align: center;
}

.information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background: #222222;
    padding: 20px 0;
    box-sizing: border-box;
}

.information__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 5;
}

.information__name {
    font-size: 60px;
    line-height: 75px;
    font-weight: 100;
    color: #ea8b3f;
    text-align: right;
}

.information__text {
    font-size: 30px;
    line-height: 36px;
    color: #b3b3b3;
    font-weight: 200;
    text-align: right;
}

.information__box {
    width: 450px;
    margin-bottom: 10px;
}

.information__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 30px;
    line-height: 36px;
    font-weight: 100;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    min-width: 270px;
    cursor: pointer;
    margin: 0;
}

.information__wrapper {
    display: none;
    float: left;
    width: 100%;
}

.information__wrapper_visible {
    display: inline-block;
    transition: all 0.5s;
}

.information__wrapper-image {
    float: left;
    padding-right: 10px;
}

.information__wrapper-text {
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 100;
    color: #777777;
}

.information__wrapper-text_warning {
    color: #ea8b3f;
    font-weight: bold;
}

















.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    background: #ea8b3f;
}

.footer__text {
    text-align: 16px;
    color: white;
    font-weight: 500;
}


@media all and (max-width: 1100px) {
    .header__logo {
        width: 550px;
    }
    .header__logo-fire {
        display: none;
    }
}

@media all and (max-width: 1020px) {
    .header__logo {
        width: 430px;
    }
    .header__logo-fire {
        display: none;
    }
    .header__logo-shooter {
        display: none;
    }
}

@media all and (max-width: 920px) {
    .header__logo {
        width: 430px;
    }

    .header__logo-shooter {
        display: none;
    }

    .header__navbar-item {
        display: none;
    }
    .header__navbar-item:first-child {
        display: flex;
        font-size: 35px;
        border: 0;
        padding-right: 30px;
    }

}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
